/* IMPORTS */

/* ROOT */

:root {
  --page-bg-color: #bbdce5;
  --container-bg-color: #eceedf;
  --item-bg-color: #d9c4b0;
  --item-bg-hover-color: #feb21a;
  --border-color: #cfab8d;
  --icon-color: #134686;
  --icon-active-color: #ed3f27;
}

/* GLOBAL */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 1em 0;
}

ul {
  list-style-type: none;
}

body {
  height: stretch;
  padding: 1rem;
  background-color: var(--page-bg-color);
}

/* UTILITY */
.fill {
  height: stretch;
  display: grid;
  grid:
    "header     header" 6rem
    "nav        main"
    ".          main" 1fr
    "footer     footer" 6rem
    / auto 1fr;
  gap: 0.5rem;
}

.container {
  background-color: var(--container-bg-color);
  padding: 0.6rem;
  border: 2px solid var(--border-color);
  border-radius: 1rem;
}

/* HEADER */
header {
  grid-area: header;
}

/* NAVIGATION */
nav {
  grid-area: nav;
}

nav ul {
  display: flex;
  flex-direction: column;
  height: stretch;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li:hover {
  filter: hue-rotate(180deg) brightness(150%) saturate(150%);
}

/* MAIN */
main {
  grid-area: main;
}

/* FOOTER */
footer {
  grid-area: footer;
}
