/* IMPORTS */

/* ROOT */

:root {
  --primary-color: hsl(50 100% 13%);
  --secondary-color: hsl(230 38% 35%);
  --bg-color-dark: hsl(50 60% 84%);
  --bg-color: hsl(50 90% 90%);
  --bg-color-light: hsl(50 100% 95%);
  --border-color: hsl(50 50% 39%);
  --heading-color: hsl(24 100% 4%);
  --text-color: hsl(49 100% 13%);
  --highlight-color: hsl(50 100% 89%);
  --shadow: 0.2rem 0.2rem 0.2rem hsla(50, 100%, 13%, 50%);
}

/* GLOBAL */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

h1, h2, h3 {
  color: var(--heading-color);
  font-variant: small-caps;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: medium;
}

a {
  text-decoration: none;
}

p {
  margin: 1em 0;
}

ul {
  list-style-type: none;
}

body {
  height: stretch;
  padding: 1rem 15%;
  background-color: var(--bg-color-dark);
  color: var(--text-color);
}

/* UTILITY */

.container {
  padding: 0.6rem;
  /* border-radius: 1rem; */
}

.bodyContainer {
  height: stretch;
  display: grid;
  grid:
    "headerCorner     header" 4rem
    "nav              main"
    ".                main" 1fr
    ".                footer" 3rem
    / 96px 1fr;
  /* gap: 4px; */
}

.formGrid {
  /* max-width: 80%; */
  display: grid;
  grid: auto / 1fr 3fr;
  margin: 2rem;
  gap: 2rem 1rem;
  text-align: right;
}

/* HEADER */
header {
  text-align: center;
  background-color: var(--bg-color);
  grid-area: header;
  border: 1px solid var(--border-color);
  border-left: none;
  border-bottom: none;
  border-radius: 0 1rem 0 0;
  height: 5rem;
  /* overflow: hidden; */
}

#headerCorner {
  background-color: var(--bg-color);
  grid-area: headerCorner;
  border: 1px solid var(--border-color);
  border-right: none;
  border-bottom: none;
  border-radius: 1rem 0 0 0;
  height: 5rem;
}

/* NAVIGATION */
nav {
  background-color: var(--bg-color);
  grid-area: nav;
  /* width: 5rem; */
  /* z-index: 100; */
  border: 1px solid var(--border-color);
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 1rem;
}

.navList {
  display: flex;
  flex-direction: column;
  height: stretch;
  align-items: flex-start;
  gap: 16px 0;
}

.navList li {
  width: 80px;
  padding: 6px 0 2px 6px;
  background-color: var(--bg-color);
  border-radius: 1rem 0 0 1rem;
  border: 1px solid transparent;
}

.navList li.selected {
  background-color: var(--bg-color-light);
  z-index: 100;
  border: 1px solid var(--border-color);
  border-right: none;
}

.navList li img{
  filter: sepia();
  transition: scale 300ms ease;
}

.navList li img:hover {
  filter: none;
  scale: 1.2;
}

.navList li.selected img {
  filter: hue-rotate(160deg) brightness(180%);
  scale: 1.2;
}

/* MAIN */
main {
  background-color: var(--bg-color-light);
  grid-area: main;
  border: 1px solid var(--border-color);
  /* border-top: none; */
  border-radius: 1rem 0 0 0;
  border-bottom: none;
}

#pageContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  height: stretch;
  padding: 1rem;
  overflow: hidden auto;
  scrollbar-color: var(--primary-color) var(--bg-color-light);
}

#pageContent {
  width: stretch;
}

/* Quests */
.questList {
  /* margin: 1rem; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.questList li {
  padding: 1rem;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.4rem;
  box-shadow: var(--shadow);
}

#questDescription {
  resize: none;
}

/* FOOTER */
footer {
  background-color: var(--bg-color);
  text-align: center;
  grid-area: footer;
  border: 1px solid var(--border-color);
  border-radius: 0 0 1rem 1rem;
}
